{% extends 'main/layout.html' %}

{% block title %} Про нас {% endblock %}

{% block content%}
    <div class="features">
        <h1>Обо мне</h1>
        <p>Страстно интересуюсь информационными технологиями и тем, как они трансформируют бизнес , поэтому в эту сферу меня тянет, ведь хочу участвовать в развитие с профессеоналами. Готов к трудным задачам и к долгосрочному сотрудничеству.Могу работать,и в офисе, и удаленно.</p>
        <button class="btn btn-warning">На страницу про меня</button>
{% endblock %}
